/* Fundal site */
body {
    background-color: #d9f7be;
}

/* Hartă */
#map {
    height: 600px;
}

/* Stilizare subsol */
.footer {
    background-color: rgba(160, 160, 160, 0.85);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Secțiune stângă */
.left-section {
    text-align: left;
}

/* Buton Instagram */
.instagram-button {
    background-color: #E1306C;
    color: white;
    padding: 14px 18px;
}

/* Dimensiunea logo-ului Instagram */
.instagram-button img {
    width: 16px;
    height: 16px;
}

/* Secțiune dreaptă */
.right-section {
    text-align: right;
}

/* Logo */
.footer-logo {
    width: 130px;
}

/* Text „Scan the future!” */
.scan-text {
    font-size: 20px;
}

/* Legenda */
.info-legend {
    background: white;
}

/* Puncte colorate */
.dot.red { background-color: #e74c3c; }
.dot.yellow { background-color: #f1c40f; }
.dot.green { background-color: #2ecc71; }

